{% extends 'base.html' %}


    {% block title %}change password successfully{% endblock %}
        
    {% block breadcrumb %}
        
            <li class="breadcrumb-item"><a href = "{% url 'change_password' %}">Change Password</a></li>
            <li class="breadcrumb-item active">Success</li>
    {% endblock %}

    {% block content %}
    <div class="alert alert-success" role="alert">
        Your password has been changed successfully:)
    </div>
    <a href="{% url 'home_page' %}">Return home</a>
    {% endblock %}